<td>{{id}}</td>
<td><img src="gfx/{{obraz}}.png" alt="{{obraz}}"></td>
<td>{{name}}</td>
<td>{{size}}</td>
<td>{{type}}</td>
<td><a href="{{delete}}">Delete</a></td>
<td><a href="{{info}}">Info</a></td>
<td><a href="{{download}}">Download</a></td>